@model IEnumerable<InfoCodiv19.Models.CasoReportado>


@{
    Layout = null;
}

<!DOCTYPE html>
 <html>
 <head>
     <!-- Basic Page Info -->
     <meta charset="utf-8">
     <title>Casos Reportados</title>
     <!-- Site favicon -->
     <link rel="apple-touch-icon" sizes="180x180" href="~/Content/vendors/images/logofondo.png">
     <link rel="icon" type="image/png" sizes="32x32" href="~/Content/vendors/images/logofondo.png">
     <link rel="icon" type="image/png" sizes="16x16" href="~/Content/vendors/images/logofondo.png">
     <!-- Mobile Specific Metas -->
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <!-- Google Font -->
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
     <!-- CSS -->
     <link href="~/Content/vendors/styles/core.css" rel="stylesheet" />
     <link href="~/Content/vendors/styles/icon-font.min.css" rel="stylesheet" />

     <link href="~/Content/vendors/plugins/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
     <link href="~/Content/vendors/plugins/datatables/css/responsive.bootstrap4.min.css" rel="stylesheet" />

     <link href="~/Content/vendors/styles/style.css" rel="stylesheet" />
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
     <script>
         window.dataLayer = window.dataLayer || [];
         function gtag() { dataLayer.push(arguments); }
         gtag('js', new Date());

         gtag('config', 'UA-119386393-1');
     </script>


     <!---DataTables -->

     <link href="~/Scripts/datatables/datatables.min.css" rel="stylesheet" />
     <link href="~/Scripts/datatables/css/dataTables.semanticui.css" rel="stylesheet" />
     <link href="~/Scripts/datatables/css/dataTables.foundation.css" rel="stylesheet" />


     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

     <script src="~/Scripts/datatables/js/jquery-3.4.1.min.js"></script>
     <script src="~/Scripts/datatables/js/dataTables.bootstrap.js"></script>
     <script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>


     <script>
         //Español
         $(document).ready(function () {
             $("#DataTableEspañol").DataTable({

                 "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Todos"]],
                 "bDestroy": true,
                 "language": {
                     "sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sEmptyTable": "Ningun dato disponible en esta tabla",
                     "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                     "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "sInfoThousands": ",",
                     "sLoadingRecords": "Cargando...",
                     "oPaginate": {
                         "sFirst": "Primero",
                         "sLast": "Ultimo",
                         "sNext": "Siguiente",
                         "sPrevious": "Anterior"
                     },
                     "oAria": {
                         "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                         "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                     }
                 }
             });
         });
     </script>
 </head>


 <body>
     <div class="header">
         <div class="header-left">
             <div class="menu-icon dw dw-menu"></div>
             <div class="header-search">
             </div>
         </div>
         <div class="header-right">
             <div class="dashboard-setting user-notification">
                 <div class="dropdown">
                     <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
                         <i class="dw dw-settings2"></i>
                     </a>
                 </div>
             </div>
             <div class="user-info-dropdown">
                 <div class="dropdown">
                     <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                         <span class="user-icon">
                             <img src="~/Content/vendors/images/photo1.jpg" alt="">
                         </span>
                         <span class="user-name">Administrador</span>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                         <a class="dropdown-item" href="~/Usuario/Cerrar"><i class="dw dw-logout"></i> Cerrar Sesión</a>
                     </div>
                 </div>
             </div>
             <div class="github-link">
                 <a href="https://github.com/dropways/deskapp" target="_blank"><img src="vendors/images/github.svg" alt=""></a>
             </div>
         </div>
     </div>
     <div class="right-sidebar">
         <div class="sidebar-title">
             <h3 class="weight-600 font-16 text-blue">
                 Configuraciones
                 <span class="btn-block font-weight-400 font-12">Configuraciones de Usuario</span>
             </h3>
             <div class="close-sidebar" data-toggle="right-sidebar-close">
                 <i class="icon-copy ion-close-round"></i>
             </div>
         </div>
         <div class="right-sidebar-body customscroll">
             <div class="right-sidebar-body-content">
                 <h4 class="weight-600 font-18 pb-10">Fondo de Encabezado</h4>
                 <div class="sidebar-btn-group pb-30 mb-10">
                     <a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
                     <a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
                 </div>
                 <h4 class="weight-600 font-18 pb-10">Fondo de Menú</h4>
                 <div class="sidebar-btn-group pb-30 mb-10">
                     <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
                     <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
                 </div>
                 <h4 class="weight-600 font-18 pb-10">Iconos del Menú</h4>
                 <div class="sidebar-radio-group pb-10 mb-10">
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked="">
                         <label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
                     </div>
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2">
                         <label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
                     </div>
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3">
                         <label class="custom-control-label" for="sidebaricon-3"><i class="fa fa-angle-double-right"></i></label>
                     </div>
                 </div>
                 <h4 class="weight-600 font-18 pb-10">Lista de Iconos del Menú</h4>
                 <div class="sidebar-radio-group pb-30 mb-10">
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked="">
                         <label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
                     </div>
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2">
                         <label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o" aria-hidden="true"></i></label>
                     </div>
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3">
                         <label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
                     </div>
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked="">
                         <label class="custom-control-label" for="sidebariconlist-4"><i class="icon-copy dw dw-next-2"></i></label>
                     </div>
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5">
                         <label class="custom-control-label" for="sidebariconlist-5"><i class="dw dw-fast-forward-1"></i></label>
                     </div>
                     <div class="custom-control custom-radio custom-control-inline">
                         <input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6">
                         <label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
                     </div>
                 </div>
                 <div class="reset-options pt-30 text-center">
                     <button class="btn btn-danger" id="reset-settings">Restablecer</button>
                 </div>
             </div>
         </div>
     </div>
     <div class="left-side-bar">
         <div class="brand-logo">
             <a href="index.html">
                 <img src="~/Content/vendors/images/logofondo.pngg" alt="" width="20%" class="dark-logo">
                 <img src="~/Content/vendors/images/logofondo.png" alt="" width="20%" class="light-logo">
             </a>
             <div class="close-sidebar" data-toggle="left-sidebar-close">
                 <i class="ion-close-round"></i>
             </div>
         </div>
         <div class="menu-block customscroll">
             <div class="sidebar-menu">
                 <ul id="accordion-menu">
                     <li class="dropdown">
                         <a href="~/Archivo/Index" class="dropdown-toggle">
                             <span class="micon dw dw-house-1"></span><span class="mtext">Noticias</span>
                         </a>
                     </li>
                     <li class="dropdown">
                         <a href="~/CasoReportado/Index" class="dropdown-toggle">
                             <span class="micon dw dw-edit2"></span><span class="mtext">Casos Reportados</span>
                         </a>
                     </li>
                     <li class="dropdown">
                         <a href="~/Donacion/Index" class="dropdown-toggle">
                             <span class="micon dw dw-library"></span><span class="mtext">Donaciones</span>
                         </a>
                     </li>
                     <li class="dropdown">
                         <a href="~/Usuario/Index" class="dropdown-toggle">
                             <span class="micon dw dw-user"></span><span class="mtext">Usuarios</span>
                         </a>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
     <div class="mobile-menu-overlay"></div>

     <div class="main-container">
         <div class="pd-ltr-20">

             <!-- Simple Datatable start -->
             <div class="card-box mb-30">
                 <div class="pd-20">
                     <h4 class="text-blue h4">Casos Reportados</h4>
                 </div>
                 <div class="pb-20">
                     <table id="DataTableEspañol" class="data-table table stripe hover nowrap table-responsive">
                         <thead>
                             <tr>
                                 <th class="table-plus datatable-nosort">Tipo de Caso</th>
                                 <th>Apellidos</th>
                                 <th>Nombres</th>
                                 <th>Sexo</th>
                                 <th>Edad</th>
                                 <th>Celular</th>
                                 @*<th>Distrito</th>*@
                                 @*<th>Direccion</th>*@
                                 <th>Otras observaciones</th>
                                 <th class="datatable-nosort">Estado</th>
                                 <th class="datatable-nosort">Dirección</th>
                             </tr>
                         </thead>
                         <tbody>

                             @foreach (var item in Model)
                             {

                                 string estado = "";
                             <tr>
                                 <td> @item.tipoCaso</td>
                                 <td> @item.apellidoPaciente</td>
                                 <td> @item.nombrePaciente</td>
                                 <td> @item.sexo</td>
                                 <td> @item.edad</td>
                                 <td> @item.celular</td>
                                 <td> @item.otrasObservaciones</td>


                                 @if (item.estado == "1")
                                 {
                                     estado = "Atendido";

                                    <td>   <select name="selectCategoria2" class="form-control"   onchange="mostrarInputs( '@item.key_caso' , '@item.estado' )"   >     <option value="1">  @estado </option>  <option value="0"> No Atendido </option> </select> </td>
                                 }

                                 else
                                 {
                                     estado = "No Atendido";

                                     <td>   <select name="selectCategoria2" class="form-control" onchange="mostrarInputs( '@item.key_caso' , '@item.estado'  )">     <option value="1">  @estado </option>  <option value="0"> Atendido </option> </select> </td>

                                 }


                                 <td> <button type="button" class="btn btn-info" onClick="Detalle(@item.latitud ,@item.longitud ),tok('@item.token')"> Ver</button></td>



                             </tr>
                             }
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>

         <div class="modal fade" id="ModalUbicacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
             <div class="modal-dialog modal-lg" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h4 class="modal-title" id="myModalLabel">Ubicacion</h4>
                     </div>
                     <div class="modal-body">
                         <form action="/" autocomplete="off" method="post">
                             <div class="form-horizontal">

                                 <input type="text"  hidden="" id="txttoken" name="txttoken" value="" />
                                 <div id="googleMap" style="width:100%;height:450px; background-color: #CCC">
                                 </div>

                                 <div class="form-group">
                                     <div class="col-md-offset-2 col-md-12">
                                         <button type="button" id="btnSave" class="btn btn-success btn-block">Recibido</button>
                                     </div>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>

         <script src="~/Scripts/js/demo.js"></script>
         <script src="~/Scripts/jquery-3.5.1.js"></script>

         <script src="~/Scripts/js/bootstrap.min.js"></script>
         <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgKdx4a-iT6Ts5NuUDkjhu0CzLcjZWPsE&callback"></script>
 </body>
 </html>

<!---DataTables -->
<script src="~/Content/DataTables/datatables.min.js"></script>

<script>

    var map;
    var NewLatLng = [];
    var cliente = [];
    var markers = [];
    var marker;
    var bounds;
    var infowindow;



    $(document).ready(function () {
     //   listaCasos();
    })

    function listaCasos() {
        //  alert("hola");
        $.ajax({

            type: "GET",
            url: '/CasoReportado/Get_Casos/',
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                var rows = '';
                $.each(data, function (i, item) {

                    var estado = "";
                    if (item.estado == "1") {
                        estado = "Atentido";
                    }
                    else {
                        estado = "No Atendido";
                    }

                    rows += "<tr>"
                    rows += "<td>" + item.tipoCaso + "</td>"
                    rows += "<td>" + item.apellidoPaciente + "</td>"
                    rows += "<td>" + item.nombrePaciente + "</td>"
                    rows += "<td>" + item.sexo + "</td>"
                    rows += "<td>" + item.edad + "</td>"
                    rows += "<td>" + item.celular + "</td>"
                    //rows += "<td>" + item.distrito + "</td>"
                    //rows += "<td>" + item.direccion + "</td>"
                    rows += "<td>" + item.otrasObservaciones + "</td>"

                    if (item.estado == "1") {
                        rows += "<td> <select   name='selectCategoria'  class='form-control' onchange='mostrarInputs(/" + item.key_caso + ',' + item.estado + "/ )' >     <option value='1'  > " + estado + "</option>  <option value='0'> No Atendido </option> </select> </td>"
                    }
                    else {
                        rows += "<td> <select   name='selectCategoria'  class='form-control' onchange='mostrarInputs(/" + item.key_caso + ',' + item.estado + "/ )' >     <option value='0'  > " + estado + "</option>  <option value='1'> Atendido </option> </select> </td>"
                    }

                    rows += "<td> <button type='button' id='btnVer' class='btn btn-info'  onClick='Detalle(" + item.latitud + "," + item.longitud + "),tok(/" + item.token + "/)'>Ver</td>"
                    rows += "</tr>";
                    $("#DataTableEspañol tbody").html(rows);
                });
            }

        })
    }


    function mostrarInputs(key, estados) {

        
       // var idcategoria;
        //idcategoria = String(key).replace(/\/+/g, "");
      //  var separador = ",";
      //  var separado = idcategoria.split(separador);
      //  var key = separado[0].trim();
       // var estado = separado[1].trim();


        var changeestado = "";
        if (estados == "1") {
            changeestado = "0";
        }
        if (estados == "0") {
            changeestado = "1";
        }
        var data = { key: key, estado: changeestado }
        $.ajax({
            url: '/CasoReportado/Modificar/',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {
                // alertify.success("Modificado");
                alert("Se han modificado los datos exitosamente");
                listaCasos();
                //  getCategoria();
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });

       
    }

    function tok(token) {
        console.log(token);

        var to;
        to = String(token).replace(/\/+/g, "");
        $("#txttoken").val(to);

    }

    function Detalle(latitud, longitud) {


        var la = String(latitud).trim();
        var lo = String(longitud).trim();

        Mapa(la, lo);
    }

    function Mapa(la, lo) {

        var latlng = new google.maps.LatLng(la, lo);
        var myOptions = {
            zoom: 14,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
        marker = new google.maps.Marker

        infowindow = new google.maps.InfoWindow({ content: "cargando" });

        marker = new google.maps.Marker
            (
            {
                position: new google.maps.LatLng(la, lo),
                map: map,
                title: 'Click me'
            }
            );
        $("#ModalUbicacion").modal("show");
    }


    $("#btnSave").click(function () {

        var token = $("#txttoken").val();

        var titulo = "Recibido";
        var mensaje = "Gracias por Informar, Quedate en Casa";
        var data = { titulo: titulo, mensaje: mensaje, token: token }

        $.ajax({
            url: '/CasoReportado/Notificacion',
            type: 'post',
            datatype: 'json',
            data: data,
            success: function (response) {

                alert("Se ha enviado la notificacion exitosamente");


            },
            error: function (xhr, status) {
                alert('Disculpe, existió un problema');
            },
        });

    });
</script>